.list {
  width: 30vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .listItem {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;

    p {
      word-wrap: break-word;
      width: 80%;
    }
    button {
      width: 60px;
      height: 25px;
      margin-left: 10px;
      border-radius: 20px;
      border-color: #0EC0FF;
      background-color: #0EC0FF;
      color: white;
      outline: none;
      &:hover {
        background-color: white;
        color: #0EC0FF;
      }
    }
  }
}
